@media (min-width: 1462px) {
  $side-padding: 80px;

  html {
    font-size: 10px;
  }
  .container {
    max-width: 1462px;
    margin: 0 auto;
    padding: 0 40px;
  }

  .side-content {
    &--right {
      right: $side-padding;
    }
    &--left {
      left: $side-padding;
    }
  }
}

// Large devices (desktops, more than 1200px)
@media (max-width: 1461px) {
  $side-padding: 40px;

  html {
    font-size: 9px;
  }
  .container {
    max-width: calc(100% - 160px);
    margin: 0 auto;
  }

  .side-content {
    &--right {
      right: $side-padding;
    }
    &--left {
      left: $side-padding;
    }
  }

  .home {
    padding-left: $side-padding;
    padding-right: $side-padding;
  }

  .main {
    &-content {
      &__text {
        padding: 30px 0;
      }
      &__item:nth-child(even) .main-content__text {
        padding-left: 40px;
      }
      &__item:nth-child(odd) .main-content__text {
        padding-right: 40px;
      }
    }
  }

  .title {
    &__sup {
      font-size: 1.6rem;
      padding-left: 98px;
      &::before {
        width: 62px;
      }
    }
  }

  .home {
    &__title {
      font-size: 7.8rem;
      line-height: 9.5rem;
    }
    &__container {
      padding-top: 16rem;
    }
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  $side-padding: 30px;

  .side-content {
    &--right {
      right: $side-padding;
    }
    &--left {
      left: $side-padding;
    }
  }

  .container {
    width: calc(100% - 160px);
  }

  .main {
    &-content {
      &__item {
        margin-bottom: 100px;
      }
      &__item:nth-child(even) .main-content__text {
        padding-left: 40px;
      }
      &__item:nth-child(odd) .main-content__text {
        padding-right: 40px;
      }
      &__text {
        padding: 20px 0;
      }
    }
  }
}

@media (min-width: 991.98px) and (max-width: 1090px) {
  .bg-wrapper {
    &--bottom-gradient {
      &::after {
        height: 300px;
        bottom: -150px;
      }
    }
    &__mountains {
      top: 420px;
      &::after {
        height: 200px;
      }
    }
    &__land {
      top: 720px;
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  $side-padding: 20px;
  $home-pt: 40px;
  html {
    font-size: 8px;
  }

  .container {
    max-width: calc(100% - 80px);
    width: 100%;
  }

  .bg {
    &-wrapper {
      &__mountains {
        top: 335px;
      }
      &__land {
        top: 538px;
      }
      &--bottom-gradient {
        &::after {
          height: 400px;
        }
      }
    }
  }

  .title {
    font-size: 6rem;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 30px;

    &__sup {
      font-size: 1.5rem;
      padding-left: 86px;
      &::before {
        width: 55px;
      }
    }
  }
  .home {
    &--pt {
      padding-top: $home-pt;
    }
    &__title {
      font-size: 6rem;
      line-height: 8rem;
    }
    &__container {
      padding-top: 15rem;
    }
  }

  .side-content {
    &--fixed {
      position: absolute;
    }
  }

  .scroll-nav {
    display: none;
  }

  .main {
    &-content {
      &__item {
        &--mb {
          margin-bottom: 60px;
        }
        &:last-child {
          &.main-content__item--mb {
            margin-bottom: 80px;
          }
        }
      }
      &__text {
        padding: 20px;
      }
    }
  }

  .footer {
    &__list {
      &:first-child {
        margin-right: 150px;
      }
    }
  }
}

@media (max-width: 915.98px) {
  .title {
    font-size: 5.8rem;
    line-height: 6rem;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-right: 0;
  }

  .main {
    &-content {
      &__desc {
        font-size: 1.6rem;
        line-height: 2.9rem;
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  $side-padding: 20px;
  $home-pt: 40px;

  .bg {
    &-wrapper {
      &__mountains {
        top: 240px;
      }
      &__land {
        top: 370px;
      }
    }
  }

  .container {
    width: 100%;
    max-width: calc(100% - 40px);
  }
  .home {
    &--pt {
      padding-top: $home-pt;
    }
    &__header {
      justify-content: center;
    }

    &__logo {
      text-align: center;
    }

    &__burger {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      z-index: 1;
      cursor: pointer;
      span {
        transition: all 0.3s;
        transform-origin: 1px 1px;
      }
    }
  }

  .main {
    &--pt {
      padding-top: 30px;
    }
    &-content {
      &__item:nth-child(even) .main-content__text {
        padding-left: 10px;
        padding-right: 0;
      }
      &__item:nth-child(odd) .main-content__text {
        padding-right: 10px;
        padding-left: 0;
      }
      &__text {
        min-width: 320px;
      }
      &__img {
        min-width: 312px;
      }
    }
  }

  .menu {
    display: none;
  }

  .home {
    &__account {
      display: none;
    }
  }

  .side-menu {
    display: inline-block;
  }

  .footer {
    padding-bottom: 50px;
    &-content {
      margin: 0 20px;
      &--right {
        flex-direction: column;
      }
      &--left {
        min-height: 160px;
      }
    }
    &__logo {
      text-align: left;
    }
    &__list {
      &:first-child {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 670.98px) {
  .title {
    font-size: 5.2rem;
    line-height: 5.8rem;
    &__sup {
      line-height: 2.4rem;
    }
  }

  .main {
    &-content {
      &__item {
        // flex-wrap: wrap;
        flex-direction: column-reverse;
        width: 100%;
        margin-bottom: 80px;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: -10px;
          background-color: rgba(255, 255, 255, 0.4);
          box-shadow: 0 1px 1px 1px rgba($color: #000000, $alpha: 0.2);
        }
      }
      &__item:nth-child(even) .main-content__text {
        padding-left: 0;
        padding-right: 0;
      }
      &__item:nth-child(odd) .main-content__text {
        padding-right: 0;
        padding-left: 0;
      }

      &__text {
        width: 100%;
      }
      &__img {
        img {
          margin: 0 auto;
        }
      }
    }
  }

  picture {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .side-content {
    &--left {
      display: none;
    }
  }
  .bg {
    height: 100vh;
    &-wrapper {
      width: 130%;
      img {
        transform: translateX(-10%);
      }
      &__sky {
        width: 170%;
        transform: translateX(-20%);
      }
      &__mountains {
        top: 270px;
        &::after {
          height: 200px;
        }
      }
      &__land {
        top: 420px;
        &::after {
          bottom: -100px;
          height: 250px;
        }
      }
    }
  }

  .home {
    &__container {
      padding-top: calc(50vh - 62px);
      transform: translateY(-30%);
    }
    &__title {
      font-size: 4rem;
      line-height: 4.5rem;
      lh &-sup {
        font-size: 1.1rem;
        padding-left: 60px;
        &::before {
          width: 42px;
          height: 1px;
        }
      }
    }
  }
  .footer {
    &-content {
      &--left {
        min-width: 140px;
        min-height: 240px;
      }
    }
  }
}

@media (max-width: 375.98px) {
  .bg {
    height: 100vh;
    &-wrapper {
      width: 130%;
      img {
        transform: translateX(-10%);
      }
      &__sky {
        width: 150%;
        transform: translateX(-20%);
      }
      &__mountains {
        top: 190px;
        &::after {
          height: 200px;
        }
      }
      &__land {
        top: 330px;
        &::after {
          bottom: -100px;
          height: 250px;
        }
      }
    }
  }

  .home {
    &__title {
      font-size: 2.9rem;
      line-height: 3.2rem;
      &-sup {
        padding-left: 60px;
        &::before {
          width: 42px;
        }
      }
    }
  }

  .desc {
    &-link {
      font-size: 1.6rem;
      padding-right: 35px;
      &::after {
        width: 18px;
        height: 18px;
      }
    }
  }

  .main {
    &--pt {
      padding-top: 0;
      margin-top: 0;
    }
    &-content {
      &__text {
        min-width: 0;
      }
      &__img {
        min-width: 0;
      }
    }
  }
}
