// Fonts
@import 'fonts.scss';

// variables
$main-bg: #0b1d26;
$text-white: #ffffff;
$text-accent: #fbd784;
$side-padding: 80px;
$home-pt: 64px;

// Basic
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Chronicle Roman', serif;
  background-color: $main-bg;
  position: relative;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
}

ul li a {
  color: $text-white;
}

.container {
  max-width: 1462px;
  margin: 0 auto;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: 1600px;
  overflow: hidden;
  z-index: -1;

  &-wrapper {
    width: 100%;
    position: absolute;

    img {
      width: 100%;
    }

    &__sky {
      top: 0;
      left: 0;
      z-index: 1;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(
          330.24deg,
          rgba(11, 29, 38, 0) 31.06%,
          #0b1d26 108.93%
        );
      }
    }

    &__mountains {
      top: 465px;
      left: 0;
      z-index: 2;
    }

    &__land {
      position: relative;
      top: 768px;
      z-index: 3;
    }
    &--bottom-gradient {
      &::after {
        content: '';
        position: absolute;
        bottom: -206px;
        left: 0;
        right: 0;
        height: 700px;
        background: linear-gradient(
          180deg,
          rgba(11, 29, 38, 0) 0%,
          #0b1d26 50.38%
        );
      }
    }
  }
}

.bg-wrapper__mountains.bg-wrapper--bottom-gradient::after {
  height: 500px;
  bottom: 0;
}

// Side blocks
.side-content {
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-family: 'Gilroy Bold', sans-serif;
  font-weight: 700;
  color: $text-white;
  text-align: right;
  &--right {
    right: $side-padding;
  }
  &--left {
    left: $side-padding;
  }
  &--fixed {
    position: fixed;
  }
}

.social {
  padding: 0;
  text-align: left;
  &__item {
    margin-bottom: 24px;
    p {
      display: inline-block;
      width: 80px;
      height: 20px;
      transform: rotate(90deg) translate(-50%, -100%);
      transform-origin: 0 0;
    }
  }
}

.scroll-nav {
  position: relative;
  padding-right: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 3px solid rgba(255, 255, 255, 0.5);

  &__item {
    position: relative;
    margin-top: 10px;
    margin-bottom: 40px;
    transition: all 0.2s;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &.active {
      transition: all 0.2s;
    }
    &.active::after {
      content: '';
      width: 3px;
      height: 60px;
      position: absolute;
      top: -20px;
      right: -35px;
      background-color: #fff;
      transition: all 0.2s;
    }
  }
}

.title {
  color: $text-white;
  font-size: 6.4rem;
  &__sup {
    position: relative;
    font-family: 'Gilroy Extrabold', sans-serif;
    font-size: 1.8rem;
    color: $text-accent;
    letter-spacing: 6px;
    text-transform: uppercase;
    padding-left: 108px;
    &::before {
      content: '';
      width: 72px;
      height: 2px;
      background-color: $text-accent;
      position: absolute;
      top: calc(50% - 1px);
      left: 0;
    }
  }

  &__content {
    font-family: 'Chronicle Roman', serif;
    font-weight: 600;
  }
}

//Home content
.home {
  position: relative;
  width: 100%;
  padding-left: $side-padding;
  padding-right: $side-padding;
  min-height: 100vh;
  margin: 0 auto;
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &--pt {
    padding-top: $home-pt;
  }
  &__logo {
    display: inline-block;
    width: 108px;
    color: $text-white;
    font-size: 2.4rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__account {
    display: inline-block;
    position: relative;
    font-family: 'Gilroy Bold', sans-serif;
    color: $text-white;
    text-align: right;
    width: 108px;
    font-size: 1.7rem;
    line-height: 2.4rem;
    &::before {
      content: '\f2bd';
      font-family: 'Font Awesome 5 Free';
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      font-size: 2.4rem;
    }
  }

  &__burger {
    display: inline-block;
    position: absolute;
    top: $side-padding;
    right: $side-padding;
    width: 24px;
    height: 24px;
    border: 1px solid $text-white;
  }

  &__title {
    font-size: 8.8rem;
    line-height: 10rem;
    margin: 3.2rem 0;
  }
  &__container {
    width: 950px;
    padding-top: 19.8rem;
    margin: 0 auto;
  }
}

.desc {
  display: inline-block;
  color: $text-white;
  font-family: 'Gilroy', sans-serif;
  font-size: 1.8rem;
  line-height: 3.2rem;

  &-link {
    position: relative;
    padding-right: 41px;
    margin: 0;
    &::after {
      position: absolute;
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
    &--accent {
      color: $text-accent;
    }
    &--down {
      &::after {
        content: url(../img/icons/navigation/arrow-down.png);
      }
    }
    &--right {
      &::after {
        content: url(../img/icons/navigation/arrow-right.png);
      }
    }
  }
}

.menu {
  &__item {
    display: inline-block;
    &--margin {
      margin: 0 40px;
    }

    a {
      color: $text-white;
      text-decoration: none;
      font-size: 1.8rem;
      font-family: 'Gilroy', sans-serif;
    }
  }
  &__account {
    display: none;
  }

  &__close {
    display: none;
  }
}

// Main content

.main {
  &--pd {
    padding: 200px 0;
  }
  &-content {
    &__item {
      display: flex;
      justify-content: space-between;
      &--mb {
        margin-bottom: 200px;
      }
      &--reversed {
        flex-direction: row-reverse;
      }
    }
    &__title {
      padding-right: 100px;
    }
    &__text {
      max-width: 632px;
      padding: 141px 0;
    }

    &__img {
      display: flex;
      align-items: center;
      overflow: hidden;
      img {
        max-width: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }

    &__desc {
      font-family: 'Gilroy', sans-serif;
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 32px;
      color: $text-white;
    }
  }
}

.footer {
  padding-bottom: 122px;
  &-content {
    display: flex;
    justify-content: space-between;
    &--right {
      display: flex;
    }
  }
  &__desc {
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: $text-white;
    &--margin {
      margin-top: 24px;
      margin-bottom: 122px;
    }
  }
  &__copy {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    color: $text-white;
    opacity: 0.5;
  }

  &__list {
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    &:first-child {
      margin-right: 212px;
    }
    &-header {
      color: $text-accent;
      font-size: 2.4rem;
      font-weight: 600;
    }
  }
  &__item {
    margin-bottom: 24px;
  }
}

@import url('media.scss');
